body {
    width: 350px; 
    height: 500px;
    background-color: #000;
    border: .5px solid #FFA07A;
    border-radius: 2px; 
    padding: 10px;
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
    color: #fff;
}